body {
    background-color: rgb(240, 240, 240);
}

h1 {
    color: rgb(37, 37, 37);
    font-family:
        'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: rgb(37, 37, 37);
    background-color: rgb(230, 230, 230);
}

a {
    color: rgb(37, 37, 37);
}